*{
    box-sizing: border-box;
}
body,html{
    background-color: #f4f3f3;
    height: 100%;
    color: #666;
    
}



.example {
    color: black;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    z-index: 2;
    border: 5em;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    display: block;
    background-color: #bfd8d5;
    
}

.l-box{
    background-color: #f4f3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    padding: 3em;
    text-align: justify;
}


.pure-img{
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}